// Footer
footer.footer    
  .social
    span.span Мы в сети
    a(href="#!" target="_blank")
      i.icon-facebook
    a(href="#!" target="_blank")
      i.icon-twitter
    a(href="#!" target="_blank")
      i.icon-vkontakte

