// Footer js
script(src="./js/libs/jquery/jquery.min.js")
script(src="./js/libs/jquery/jquery-migrate.min.js")
script(src="./js/libs/magnific-popup/jquery.magnific-popup.min.js")
script(src="./js/libs/slick/slick.min.js")
script(src="./js/libs/pageable/pageable.min.js")