// Header
header.header
  .header__wrapper
    .logo
      i.icon-logo
      i.icon-logo-name
    button(type="button").header__btn
      span меню сайта
      i

-var navigation = { 'Главная': '#!', 'Тарифы': '#!', 'Пространство': '#!', 'Схемы': '#!', 'Заказ': '#!', 'Контакты': '#!'};

nav.navigation(role="navigation" data-section="1")
  ul
    each val, key in navigation
      if active === key
        li.active
          a(href=val, title=key)= key
      else
        li
          a(href=val, title=key)= key
  .navigation__phone
    a(href="tel:")
      i.icon-call-border
      span 0 800 
        b 987 654 321
  .navigation__footer
    button(type="button").btn.navigation__btn
      span Забронировать арт холл
    .social
      span.span Мы в сети
      a(href="#!" target="_blank")
        i.icon-facebook
      a(href="#!" target="_blank")
        i.icon-twitter
      a(href="#!" target="_blank")
        i.icon-vkontakte

.header-holder