doctype

html(lang="ru")

  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Арт Холл Президент' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    include ./_include/_header

    main.main#pinContainer

      // Section 1
      section(data-anchor="page-1").section.--one
        .section__top
          .one-carousel.carousel
            div
              .carousel__block
                picture
                  source(srcset='./tmp/section-1-img.webp' type='image/webp')
                  source(srcset='./tmp/section-1-img.png' type='image/png')
                  img(src='./tmp/section-1-img.png' alt='')
            div
              .carousel__block
                picture
                  source(srcset='./tmp/section-1-img.webp' type='image/webp')
                  source(srcset='./tmp/section-1-img.png' type='image/png')
                  img(src='./tmp/section-1-img.png' alt='')
            div
              .carousel__block
                picture
                  source(srcset='./tmp/section-1-img.webp' type='image/webp')
                  source(srcset='./tmp/section-1-img.png' type='image/png')
                  img(src='./tmp/section-1-img.png' alt='')
            div
              .carousel__block
                picture
                  source(srcset='./tmp/section-1-img.webp' type='image/webp')
                  source(srcset='./tmp/section-1-img.png' type='image/png')
                  img(src='./tmp/section-1-img.png' alt='')
        .section__bottom(data-text="АРТ ХОЛЛ")
          .section__bottom-content
            .hashtag
              span #АРТ ХОЛ ПРЕЗИДЕНТ
            .section__head
              h1 Потрясающее место для проведения выставок
            .section__content.section-one__content
              p Особое пространство в Москве, сочетающее в себе характерные черты лофта, арт-галереи и творческой мастерской. 
            
            .d-none.d-xxl-block
              .clear85
            .section__btns
              div
                a(href="#page-6").btn
                  span Забронировать арт холл
              div.d-none.d-md-block.d-lg-none.d-xl-block
                .section__btns-small или 
                  br
                  | звоните
              div
                a(href="tel:")
                  i.icon-call-border
                  span 0 800 
                    b 987 654 321

      // Section 2
      section(data-anchor="page-2").section.--two
        .section__top
          .section-two
            picture
              source(srcset='./tmp/section-2-img.webp' type='image/webp')
              source(srcset='./tmp/section-2-img.png' type='image/png')
              img(src='./tmp/section-2-img.png' alt='')
            .section-two__content
              h3 В стоимость включено:
              ul
                li Звуковое оборудование
                li Световое оборудованиие
                li Интернет (кабельный/wi-fi)
                li Сцена
                li Мебель
                li Клининг
                li Хостес
                li Художник по свету
                li Звукорежиссер
                li Security-сервис
                li Парковочные места
            .section-two__price 
              small Минимальная сумма 
              b 3000 
                .small руб
        .section__bottom(data-text="ТАРИФЫ")
          .section__bottom-content
            .hashtag
              span #АРТ ХОЛ ПРЕЗИДЕНТ
              span #ТАРИФЫ АРТ ХОЛ
            .section__head
              .h1 Индивидуальный подход к каждому клиенту
            .section__content
              p Цены на услуги за проведение выставочного проекта:
                br
                | 14 дней - 
                b 50 000 руб
                br
                | 30 дней - 
                b 90 000 руб

            .d-none.d-xxl-block
              .clear85
            .section__btns.d-none.d-lg-block
              div
                a(href="#page-6").btn
                  span Забронировать арт холл
              div.d-none.d-md-block.d-lg-none.d-xl-block
                .section__btns-small или 
                  br
                  | звоните
              div
                a(href="tel:")
                  i.icon-call-border
                  span 0 800 
                    b 987 654 321

      // Section 3
      section(data-anchor="page-3").section.--three
        .section__top
          .one-carousel.carousel
            div
              .carousel__block
                picture
                  source(srcset='./tmp/section-1-img.webp' type='image/webp')
                  source(srcset='./tmp/section-1-img.png' type='image/png')
                  img(src='./tmp/section-1-img.png' alt='')
                .carousel__text Каждая новая выставка, проходящая на территории Арт  Холл – отражение современности и актуальности искусства.
            div
              .carousel__block
                picture
                  source(srcset='./tmp/section-1-img.webp' type='image/webp')
                  source(srcset='./tmp/section-1-img.png' type='image/png')
                  img(src='./tmp/section-1-img.png' alt='')
            div
              .carousel__block
                picture
                  source(srcset='./tmp/section-1-img.webp' type='image/webp')
                  source(srcset='./tmp/section-1-img.png' type='image/png')
                  img(src='./tmp/section-1-img.png' alt='')
                .carousel__text Каждая новая выставка, проходящая на территории Арт  Холл – отражение современности и актуальности искусства.
            div
              .carousel__block
                picture
                  source(srcset='./tmp/section-1-img.webp' type='image/webp')
                  source(srcset='./tmp/section-1-img.png' type='image/png')
                  img(src='./tmp/section-1-img.png' alt='')
        .section__bottom(data-text="размещение")
          .section__bottom-content
            .hashtag
              span #АРТ ХОЛ ПРЕЗИДЕНТ
              span #экспозиции
            .section__head
              .h1 Индивидуальный выбор трансформации помещения

            .d-none.d-xxl-block
              .clear85
            .section__btns.d-none.d-lg-block
              div
                a(href="#page-6").btn
                  span Забронировать арт холл
              div.d-none.d-md-block.d-lg-none.d-xl-block
                .section__btns-small или 
                  br
                  | звоните
              div
                a(href="tel:")
                  i.icon-call-border
                  span 0 800 
                    b 987 654 321

      // Section 4
      section(data-anchor="page-4").section.--four
        .section__top
          .section-four
            .section-four__img
              picture
                source(srcset='./tmp/section-4-img.webp' type='image/webp')
                source(srcset='./tmp/section-4-img.png' type='image/png')
                img(src='./tmp/section-4-img.png' alt='')
            .section-four__wrapper
              .section-four__content
                div
                  table
                    tbody
                      tr
                        td 01
                        td Гардеробная
                        td 6.80
                      tr
                        td 02
                        td Арт пространство
                        td 322.25
                      tr
                        td 03
                        td Коридор
                        td 7.80
                      tr
                        td 04
                        td Кухня
                        td 10.60
                      tr
                        td 05
                        td Санузел
                        td 7.00
                      tr
                        td 06
                        td Санузел
                        td 9.10
                      tr
                        td 07
                        td Багетная мастерская
                        td 14.65
                div
                  a(href="#!").btn.btn--dark скачать материалы
                  .section-four__price
                    .p Общая площадь выставки
                    b 378.20 м
                      sup 2
        .section__bottom(data-text="ПОМЕЩЕНИЕ")
          .section__bottom-content
            .hashtag
              span #АРТ ХОЛ ПРЕЗИДЕНТ
              span #экспозиции
            .section__head
              .h1 Уникальный формат возможностей помещения

            .d-none.d-xxl-block
              .clear85
            .section__btns.d-none.d-lg-block
              div
                a(href="#page-6").btn
                  span Забронировать арт холл
              div.d-none.d-md-block.d-lg-none.d-xl-block
                .section__btns-small или 
                  br
                  | звоните
              div
                a(href="tel:")
                  i.icon-call-border
                  span 0 800 
                    b 987 654 321

      // Section 5
      section(data-anchor="page-5").section.--five
        .section__top
          .section-five
            .section-five__head
              h3 В состав технического райдера Системы входит следующее оборудование:
            .section-five__row
              .section-five__block
                i.icon-system-1
                p Подсистема отображения видео и презентаций
              .section-five__block
                i.icon-system-2
                p Подсистема фонового озвучивания
              .section-five__block
                i.icon-system-3
                p Подсистема управления аудио
              .section-five__block
                i.icon-system-4
                p Подсистема управления видео
              .section-five__block
                i.icon-system-5
                p Подсистема звукоусиления
            .section-five__content
              p Используем оборудование известных и качественных производителей, а именно Barco CSE-200, NEC P554U, Yamaha STAGEPAS 600BT, Yamaha DXS15mkII, Shure SM58S и многое другое. Полный список и характеристики можете изучить в нашей брошюре.
              .clear
              a(href="#!").btn.btn--dark
                span скачать материалы
        .section__bottom(data-text="ОСНАЩЕНИЕ")
          .section__bottom-content
            .hashtag
              span #АРТ ХОЛ ПРЕЗИДЕНТ
              span #экспозиции
            .section__head
              .h1 Уникальный формат оснащения помещения
            
            .d-none.d-xxl-block
              .clear85
            .section__btns.d-none.d-lg-block
              div
                a(href="#page-6").btn
                  span Забронировать арт холл
              div.d-none.d-md-block.d-lg-none.d-xl-block
                .section__btns-small или 
                  br
                  | звоните
              div
                a(href="tel:")
                  i.icon-call-border
                  span 0 800 
                    b 987 654 321

      // Section 6
      section(data-anchor="page-6").section.--six
        .section__top
          .section-six
            picture
              source(srcset='./tmp/section-6-img.webp' type='image/webp')
              source(srcset='./tmp/section-6-img.png' type='image/png')
              img(src='./tmp/section-6-img.png' alt='')
            form(action="").section-six__form
              legend Форма бронирования
              fieldset
                .form-group
                  +field-text({
                    title: 'Желаемая дата',
                    hasJs: true,
                    isTextarea: false,
                    hasError: false,
                    helpText: '',
                    mods: 'has-icon',
                    val: '',
                    attrs: {
                      name: 'input-date',
                      placeholder: '',
                    }
                  })()
                    i.icon-calendar
                .form-group
                  +field-text({
                    title: 'Ваше имя',
                    hasJs: true,
                    isTextarea: false,
                    hasError: true,
                    helpText: '',
                    mods: 'has-icon',
                    val: 'Иванов Иван Иванович 007',
                    attrs: {
                      name: 'input-name',
                      placeholder: '',
                    }
                  })()
                    i.icon-user
                .form-group
                  +field-text({
                    title: 'Ваш телефон',
                    hasJs: true,
                    isTextarea: false,
                    hasError: false,
                    helpText: '',
                    mods: 'has-icon',
                    val: '',
                    attrs: {
                      name: 'input-phone',
                      placeholder: '',
                    }
                  })()
                    i.icon-call
                .form-group.section-six__message
                  +field-text({
                    title: 'Ваш комментарий',
                    hasJs: true,
                    isTextarea: true,
                    hasError: false,
                    helpText: '',
                    mods: 'has-icon',
                    val: '',
                    attrs: {
                      name: 'input-message',
                      placeholder: '',
                      rows: '1'
                    }
                  })()
                    i.icon-message
                .form-group.section-six__checkbox
                  +field-checkbox({
                    title: 'Даю свое соглагасие на обработку персональных данных. Соглашаюсь с правилами <a href="#!" target="_blank">пользовательского соглашения</a> об использовании персональных данных.',
                    isLink: false,
                    mods: '',
                    attrs: {
                      name: 'input-checkbox',
                      checked: true,
                    }
                  })
                button(type="button").btn забронировать
        .section__bottom(data-text="бронирование")
          .section__bottom-content
            .hashtag
              span #АРТ ХОЛ ПРЕЗИДЕНТ
              span #экспозиции
            .section__head
              .h1 Индивидуальный подход к вашей трансформации мероприятия
            
            .d-none.d-xxl-block
              .clear85
            .section__btns.d-none.d-lg-block
              div
                a(href="#!").btn
                  span Забронировать арт холл
              div.d-none.d-md-block.d-lg-none.d-xl-block
                .section__btns-small или 
                  br
                  | звоните
              div
                a(href="tel:")
                  i.icon-call-border
                  span 0 800 
                    b 987 654 321

      // Section 7
      section(data-anchor="page-7").section.--seven
        .section__top
          .section-seven
            .contacts__map
              #map
              .contacts__address
                .contacts__address-title Москва, ул. Арбат, д. 54/2, строение 1
                .contacts__address-phone
                  a(href="tel:") 8 926 557 51 85
                .contacts__address-mail
                  a(href="mail:") info@site-name.ru
        .section__bottom(data-text="НАВИГАЦИЯ")
          .section__bottom-content
            .hashtag
              span #АРТ ХОЛ ПРЕЗИДЕНТ
              span #экспозиции
            .section__head
              .h1 Наши контакты и схема проезда
            .section__content
              h4 АВТОМОБИЛЬ
              p| В зависимости от маршрута и загрузки дорог вы можете приехать в АРТ ХОЛ по одному из трёх шоссе: Киевскому (обычно наиболее быстрый маршрут), Боровскому и Минскому.
              h4 АЭРОЭКСПРЕСС
              p Проезд до станции метро «Киевская». Время в пути от Киевского вокзала до аэропорта — примерно 35 минут.
              h4 АВТОБУС
              p Проезд до станции метро «Юго-Западная». Городские автобусы № 611, 911.

            .section__btns.d-none.d-md-block
              div
                a(href="#page-6").btn
                  span Забронировать арт холл

    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #fff")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

    link(rel='stylesheet' href='./js/libs/leaflet/leaflet.css')
    script(src='./js/libs/leaflet/leaflet.js')
    script.
      var map = L.map('map', {
        center: [55.747112,37.5808753], 
        zoom: 15,
        dragging: false
      });
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
          '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox.streets'
      }).addTo(map);
