doctype

html(lang="ru")

  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Арт Холл Президент' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    include ./_include/_header

    main.main
      section.section
        .section__top
          div(style="height: 480px; background-color: #ccc")
        .section__bottom
          .section__bottom-content
            .hashtag #АРТ ХОЛ ПРЕЗИДЕНТ
            .section__head
              h1 Потрясающее место для проведения выставок
            .section__content
              p Особое пространство в Москве, сочетающее в себе характерные черты лофта, арт-галереи и творческой мастерской. 
              p
                a(href="#!").btn
                  span Забронировать арт холл
              p
                a(href="tel:")
                  i.icon-call-border
                  span 0 800 
                    b 987 654 321


    //- include ./_include/_footer
    div(style="height: 1000px; background-color: #fff")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

