/* modules */
.section {
  $this: &;
  position: relative;
  overflow: hidden;
  &__top {
    .--five & {
      background: $color-white;
    }
  }
  &__bottom {
    background-color: $add-color;
    color: rgba($color-white,.7);
    padding: 50px 30px;
  }
  &__content {
    margin-top: 17px;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__btns {
    margin-top: 20px;
    &>div {
      &+div {
        margin-top: 20px;
      }
    }
    [href*="tel:"] {
      white-space: nowrap;
    }
    &-small {
      text-align: center;
      font-size: rem(9px);
      line-height: 11px;
      letter-spacing: 0.05em;
      opacity: 0.5;
      text-transform: uppercase;
    }
  }
  &.--seven {
    font-size: rem(13px);
  }
  @include media-breakpoint-up(md) {
    &__content {
      margin-top: 21px;
    }
    &__bottom {
      padding-left: 60px;
      padding-right: 60px;
    }
    &__btns {
      display: flex;
      align-items: center;
      margin-top: 28px;
      &>div {
        &+div {
          margin-top: 0px;
          margin-left: 17px;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    // position: absolute;
    width: 100%;
    height: 100vh;
    &__content {
      margin-top: 30px;
    }
    &__top {
      position: absolute;
      top: 0;
      width: 50%;
      right: 0;
      bottom: 0;
    }
    &__bottom {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 50%;
      display: flex;
      align-items: center;
      padding-left: 53px;
      padding-right: 50px;
      overflow: hidden;
      z-index: 5;
      &::before {
        content: attr(data-text);
        position: absolute;
        font-weight: 900;
        font-size: rem(185px);
        line-height: 0.7;
        letter-spacing: -0.08em;
        color: $color-white;
        opacity: 0.03;
        white-space: nowrap;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        transform-origin: center center;
        line-height: 0.7;
        right: 0;
        bottom: 0;
        text-transform: uppercase;
      }
    }
    &__btns {
      display: block;
      margin-top: 38px;
      &>div {
        &+div {
          margin-top: 16px;
          margin-left: 0px;
        }
      }
    }
    &.--three {
      #{$this} {
        &__bottom {
          &::before {
            font-size: rem(133px);
            letter-spacing: -0.14em;
          }
        }
      }
    }
    &.--four {
      #{$this} {
        &__bottom {
          &::before {
            font-size: rem(138px);
            letter-spacing: -0.14em;
          }
        }
      }
    }
    &.--five {
      #{$this} {
        &__bottom {
          &::before {
            font-size: rem(143px);
            letter-spacing: -0.1em;
          }
        }
      }
    }
    &.--six {
      #{$this} {
        &__bottom {
          &::before {
            font-size: rem(128px);
            letter-spacing: -0.18em;
          }
        }
      }
    }
    &.--seven {
      #{$this} {
        &__bottom {
          &::before {
            font-size: rem(143px);
            letter-spacing: -0.05em;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__content {
      p {
        max-width: 455px;
      }
    }
    &__btns {
      display: flex !important;
      align-items: center;
      &>div {
        &+div {
          margin-top: 0px;
          margin-left: 17px;
        }
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    &__bottom {
      &::before {
        font-size: rem(230px);
      }
    }
    &__content {
      p {
        max-width: 560px;
      }
    }
    &__btns {
      .btn {
        font-size: rem(16px);
        height: 41px;
        padding-top: 5px;
      }
      [href*="tel:"] {
        font-size: rem(28px);
        [class*=icon-] {
          font-size: rem(28px);
        }
      }
    }
  }
  @include media-breakpoint-up(xxxl) {
    &__bottom {
      &::before {
        font-size: rem(270px);
      }
    }
    &__content {
      p {
        max-width: 780px;
      }
    }
    &__btns {
      .btn {
        font-size: rem(18px);
        height: 50px;
      }
      [href*="tel:"] {
        [class*=icon-] {
          font-size: rem(30px);
        }
      }
      &-small {
        font-size: rem(10px);
      }
    }
  }
}

.hashtag {
  font-weight: bold;
  line-height: 15px;
  color: rgba($add-color-2,0.5);
  text-transform: uppercase;
  margin-bottom: 7px;
  font-size: rem(0px);
  &>span {
    display: inline-block;
    font-size: rem(12px);
    vertical-align: middle;
    &+span {
      margin-left: 10px;
    }
  }
  @include media-breakpoint-up(md) {
    margin-bottom: 9px;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 5px;
    line-height: 18px;
    span {
      font-size: rem(14px);
    }
  }
  @include media-breakpoint-up(xxl) {
    margin-bottom: 9px;
    line-height: 20px;
    span {
      font-size: rem(16px);
    }
  }
  @include media-breakpoint-up(xxxl) {
    margin-bottom: 11px;
    line-height: 23px;
    span {
      font-size: rem(18px);
    }
  }
}

.slick-slide {
  &:focus {
    outline: none;
  }
}

.carousel {
  &__block {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  &__text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: rem(14px);
    line-height: 1.4;
    color: rgba($color-white,.7);
    background: rgba($add-color,.4);
    padding: 21px 30px 15px 30px;
  }
  .slick-arrow {
    font-size: 0;
    width: 35px;
    height: 35px;
    background: rgba($color-white,1);
    z-index: 5;
    opacity: 0.7;
    transition: all 0.35s;
    &::before {
      font-size: rem(8px);
      content: '';
      font-family: $font-icomoon;
      opacity: 1;
      color: $add-color;
    }
    &::after {
      content: '';
      position: absolute;
      width: 45px;
      height: 45px;
      border: 2px solid $color-white;
      background: transparent;
      margin-top: -5px;
      top: 0;
      right: 9px;
      transition: all 0.35s;
    }
    &:hover {
      opacity: 1;
    }
  }
  .slick-next {
    right: 30px;
    &::before {
      content: '\e90f';
    }
  }
  .slick-prev {
    left: 30px;
    &::before {
      content: '\e910';
    }
    &::after {
      right: auto;
      left: 9px;
    }
  }
  .slick-disabled {
    opacity: 0.1;
    &:hover {
      opacity: 0.1;
    }
  }
  @include media-breakpoint-up(md) {
    &__text {
      font-size: rem(16px);
      padding: 34px 60px 30px 60px;
    }
  }
  @include media-breakpoint-up(lg) {
    height: 100%;
    &__block, .slick-list, .slick-track, .slick-slide {
      height: 100%;
    }
    .slick-arrow {
      width: 23px;
      height: 23px;
      &::before {
        font-size: rem(5px);
      }
      &::after {
        width: 30px;
        height: 30px;
        margin-top: -3px;
        right: 6px;
      }
    }
    .slick-prev {
      left: 62px;
      &::after {
        right: auto;
        left: 6px;
      }
    }
    .slick-next {
      right: 112px;
    }
    &__text {
      margin-right: 50px;
    }
  }
  @include media-breakpoint-up(xxl) {
    .slick-arrow {
      width: 29px;
      height: 29px;
      &::before {
        font-size: rem(7px);
      }
      &::after {
        width: 37px;
        height: 37px;
        margin-top: -4px;
        right: 8px;
      }
    }
    .slick-prev {
      left: 80px;
      &::after {
        left: 8px;
      }
    }
    .slick-next {
      right: 140px;
    }
    &__text {
      font-size: rem(20px);
      margin-right: 60px;
    }
  }
  @include media-breakpoint-up(xxxl) {
    .slick-arrow {
      width: 35px;
      height: 35px;
      &::before {
        font-size: rem(14px);
      }
      &::after {
        width: 45px;
        height: 45px;
        margin-top: -5px;
        right: 10px;
      }
    }
    .slick-prev {
      left: 96px;
      &::after {
        left: 10px;
      }
    }
    .slick-next {
      right: 130px;
    }
  }
}

.section-two {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 42px 33px;
  &::before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $add-color;
    opacity: 0.4;
  }
  &__content {
    position: relative;
    z-index: 5;
    margin-bottom: 40px;
    h3, .h3 {
      text-transform: uppercase;
    }
    ul {
      padding: 0px;
      column-width: auto;
      white-space: nowrap;
      column-gap: 50px;
      margin: 0;
      li {
        list-style: none;
        position: relative;
        padding-left: 30px;
        &::before {
          position: absolute;
          content: '';
          width: 15px;
          height: 1px;
          background-color: $color-white;
          left: 5px;
          top: 11px;
        }
      }
    }
  }
  &__price {
    font-size: rem(90px);
    position: relative;
    z-index: 5;
    font-weight: bold;
    line-height: 1;
    b {
      line-height: 0.7;
      font-weight: 900;
      display: inline-block;
    }
    small {
      font-size: rem(21px);
      display: block;
    }
    .small {
      font-size: rem(18px);
      display: inline-block;
      line-height: 1;
    }
  }
  @include media-breakpoint-up(sm) {
    &__content {
      ul {
        column-count: 2;
      }
    }
    &__price {
      font-size: rem(120px);
      small {
        font-size: rem(30px);
      }
      .small {
        font-size: rem(25px);
      }
    }
  }
  @include media-breakpoint-up(md) {
    padding: 50px 65px;
  }
  @include media-breakpoint-up(lg) {
    height: 100%;
    padding: 42px 60px 45px 40px;
    &__content {
      ul {
        column-count: 1;
      }
    }
    &__price {
      position: absolute;
      bottom: 45px;
    }
  }
  @include media-breakpoint-up(xl) {
    &__content {
      font-size: rem(16px);
      ul {
        column-count: 2;
      }
    }
    &__price {
      font-size: rem(150px);
      small {
        font-size: rem(40px);
      }
      .small {
        font-size: rem(30px);
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    &__content {
      font-size: rem(18px);
    }
    &__price {
      font-size: rem(170px);
      small {
        font-size: rem(50px);
      }
      .small {
        font-size: rem(40px);
      }
    }
  }
  @include media-breakpoint-up(xxxl) {
    &__content {
      font-size: rem(20px);
    }
    &__price {
      font-size: rem(200px);
      small {
        font-size: rem(60px);
      }
      .small {
        font-size: rem(60px);
      }
    }
  }
}

.section-four {
  background: $color-white;
  padding: 35px 26px 45px 26px;
  color: $add-color;
  font-size: rem(13px);
  &__content {
    table {
      width: 100%;
      td {
        border: 0;
        padding: 0 0 2px 0;
        white-space: nowrap;
        &+td {
          padding-left: 7px;
        }
        &:first-child {
          font-weight: bold;
          opacity: 0.4;
        }
        &:last-child {
          font-weight: bold;
        }
      }
    }
    &>div {
      &+div {
        padding-top: 20px;
      }
    }
    .btn {
      margin-bottom: 20px;
    }
  }
  &__img {
    margin-bottom: 65px;
    img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
  &__price {
    .p {
      opacity: 0.5;
      margin-bottom: 5px;
    }
    b {
      font-size: rem(30px);
      line-height: 1;
    }
  }
  @include media-breakpoint-up(sm) {
    &__content {
      display: flex;
      table {
        width: auto;
      }
      &>div {
        &+div {
          padding-left: 50px;
          padding-top: 0;
        }
      }
      .btn {
        margin-bottom: 49px;
      }
    }
  }
  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    justify-content: center;
    &__img {
      margin-bottom: 0;
      flex-shrink: 0;
      width: 427px;
      margin-right: 35px;
    }
    &__content {
      display: block;
      &>div {
        &+div {
          padding-left: 0;
          padding-top: 35px;
        }
      }
      .btn {
        margin-bottom: 24px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    display: block;
    height: 100%;
    padding-right: 60px;
    &__img {
      margin-bottom: 34px;
      width: 100%;
    }
    &__content {
      display: flex;
      justify-content: center;
      &>div {
        &+div {
          padding-left: 30px;
          padding-top: 0;
        }
      }
      .btn {
        margin-bottom: 54px;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__img {
      img {
        margin: 0 auto;
        display: block;
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    padding-right: 70px;
    &__content {
      .btn {
        width: 208px;
        height: 41px;
        font-size: rem(16px);
      }
    }
  }
}

.section-five {
  padding: 45px 30px;
  background: rgba(#DDCEBC,.4);
  color: $add-color;
  font-weight: 600;
  font-size: rem(14px);
  &__row {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
  }
  &__head {
    max-width: 565px;
  }
  &__block {
    width: calc(100% - 20px);
    font-size: rem(14px);
    font-weight: 400;
    margin: 0 10px 25px 10px;
    position: relative;
    padding-left: 80px;
    min-height: 54px;
    p {
      margin-bottom: 0;
    }
    [class*="icon-"] {
      position: absolute;
      font-size: rem(45px);
      left: 3px;
      top: 0;
    }
    &::before {
      content: '';
      position: absolute;
      left: -10px;
      top: 20px;
      width: 35px;
      height: 35px;
      background: $color-white;
    }
  }
  h3, .h3 {
    font-weight: bold;
    color: $add-color;
    margin-bottom: 20px;
  }
  @include media-breakpoint-up(sm) {
    &__block {
      width: calc(50% - 20px);
    }
  }
  @include media-breakpoint-up(lg) {
    padding-right: 60px;
    height: 100%;
    overflow-y: auto;
    &__row {
      flex-direction: column;
      max-width: 220px;
    }
    &__block {
      width: calc(100% - 20px);
      padding-left: 75px;
    }
  }
  @include media-breakpoint-up(xl) {
    padding-left: 60px;
    font-size: rem(15px);
    &__row {
      max-width: inherit;
      flex-direction: row;
    }
    &__block {
      font-size: rem(14px);
      width: calc(50% - 20px);
      padding-left: 84px;
    }
    &__content {
      max-width: 427px;
    }
  }
  @include media-breakpoint-up(xxl) {
    &__block {
      font-size: rem(16px);
    }
  }
  @include media-breakpoint-up(xxxl) {
    font-size: rem(16px);
    &__block {
      font-size: rem(17px);
    }
  }
}

.section-six {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 42px 33px;
  &::before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $add-color;
    opacity: .6;
  }
  &__form {
    position: relative;
    z-index: 5;
    legend {
      color: $color-white
    }
  }
  &__checkbox {
    margin-bottom: 12px;
  }
  &__message {
    margin-bottom: 25px;
  }
  @include media-breakpoint-up(md) {
    &__checkbox {
      margin-bottom: 35px;
    }
  }
  @include media-breakpoint-up(lg) {
    height: 100%;
    padding-left: 50px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    &__form {
      width: calc(100% - 35px);
      .btn {
        min-width: 166px;
      }
    }
  }
  // @include media-breakpoint-up(xl) {}
}

.section-seven {
  background: $color-white;
  color: $add-color;
  min-height: 100px;
  @include media-breakpoint-up(lg) {
    height: 100%;
  }
}