/* menu */
[role="navigation"] {
  ul {
    margin: 0;
    padding: 0;
    
    li {
      list-style: none;
        margin: 0;
    }
  }
}
  
.navigation {
  position: fixed;
  top: 80px;
  right: 0;
  bottom: auto;
  width: 260px;
  background: rgba($add-color,.9);
  z-index: 95;
  box-shadow: 0px 10px 15px rgba($color-black,.3);
  overflow: hidden;
  overflow-y: auto;
  max-height: calc(100% - 80px);
  transition: all 0.35s;
  opacity: 0;
  visibility: hidden;
  &.is-active {
    opacity: 1;
    visibility: visible;
  }
  ul {
    font-size: rem(18px);
    text-transform: uppercase;
    padding: 22px 0 26px 0;
    counter-reset: list;
    border-bottom: 1px solid rgba($color-white,0.3);
    li {
      &>a, &>span {
        white-space: nowrap;
        display: block;
        text-decoration: none;
        height: 60px;
        line-height: 60px;
        padding-left: 43px;
        padding-right: 10px;
        background-color: rgba($color-white,0);
        transition: all 0.35s;
        &::before {
          counter-increment: list;
          content: "0"counter(list);
          font-weight: 900;
          display: inline-block;
          margin-right: 10px;
        }
        &.active {
          background-color: rgba($color-white,.4);
        }
      }
    }
  }
  &__phone {
    text-align: center;
    border-bottom: 1px solid rgba($color-white,.4);
    padding: 25px 0;
    white-space: nowrap;
    a {
      font-size: rem(20px);
    }
  }
  &__footer {
    text-align: center;
    padding: 35px 0 90px 0;
  }
  &__btn {
    margin-bottom: 36px;
  }
  @include media-breakpoint-up(lg) {
    display: block;
    opacity: 1;
    visibility: visible;
    top: 0;
    bottom: 0;
    max-height: inherit;
    width: 50px;
    background: transparent;
    overflow: visible;
    z-index: 120;
    &__phone, &__footer {
      display: none;
    }
    ul {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      height: 100%;
      padding: 0;
      font-size: rem(13px);
      border: 0;
      li {
        flex-grow: 1;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        transform-origin: center center;
        &>a,&>span {
          width: 50px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          height: auto;
          line-height: inherit;
          background: rgba($color-black,.4);
          box-shadow: 0px 1px 0px rgba($color-white,0.1);
          &::before {
            margin-right: 0;
            margin-bottom: 5px;
          }
          &.active {
            background: rgba(#616161,.4);
          }
        }
      }
    }
    &[data-section="4"] {
      ul {
        li {
          &>a,&>span {
            color: $add-color;
            background: rgba($add-color-2, .3);
            box-shadow: 0px 1px 0px $color-white;
            &.active {
              background: rgba(#09274F,.2);
            }
          }
        }
      }
    }
    &[data-section="5"], &[data-section="7"] {
      ul {
        li {
          &>a,&>span {
            color: $add-color;
            background: rgba($color-white, .5);
            box-shadow: 0px 1px 0px $color-white;
          }
          &.active {
            &>a,&>span {
              background: rgba(#09274F,.5);
              color: $color-white;
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    width: 60px;
    ul {
      li {
        &>a,&>span {
          width: 60px;
        }
      }
    }
  }
  @include media-breakpoint-up(xxxl) {
    width: 80px;
    ul {
      font-size: rem(16px);
      li {
        &>a,&>span {
          width: 80px;
        }
      }
    }
  }
}

.social {
  color: rgba($color-white,.4);
  font-size: rem(14px);
  a {
    text-decoration: none;
    display: inline-block;
    height: 24px;
    text-align: center;
    line-height: 24px;
    width: 24px;
    color: rgba($color-white,.4);
    vertical-align: middle;
    &+a {
      margin-left: 0px;
    }
  }
  .span {
    font-weight: bold;
  }
  @include media-breakpoint-up(xxl) {
    font-size: rem(16px);
  }
}