// :root {
//   @include defineColorHSL(--color-primary, 0, 89%, 56%);
// }
// [data-theme="dark"] {
//   @include defineColorHSL(--color-primary, 0, 100%, 56%);
// }

$primary-color: #fff;

$link-color: #fff;

$color-white: #ffffff;
$color-gray: #cccccc;
$color-black: #000000;
$color-red: red;
$color-pink: pink;

$add-color: #09274F;
$add-color-2: #DDCEBC;

$primary-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-icomoon: 'icomoon';

$font-source: 'Source Sans Pro', $primary-font;
